<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="icon" href="https://i.imgur.com/bxF7QSr.png">
    <title>John Deere App</title>
    <link rel="stylesheet" href="/css/eq_att_show.css">
</head>
<body>
    <h1>Equipment Show Page</h1>
    <img src='<%=equipment.img%>'/> <br/>
    Division: <%=equipment.division%><br/>
    Model: <%=equipment.modelName%> <br/>
    Horsepower: <%=equipment.horsepower%> <br/>
    Application: <%=equipment.application%> <br/>
    Description: <%=equipment.description%> <br/>
    Belongs to: 
    <% for (let i=0; i < equipment.Users.length; i++) { %>
        <li>
            <%=equipment.Users[i].name%>
        </li>
    <% } %>
    <br/>
    Compatable with: 
    <% for (let i=0; i < equipment.Attachments.length; i++) { %>
        <li>
            <a href="/attachment/<%=equipment.Attachments[i].id%>" /> <%=equipment.Attachments[i].modelName%>
        </li>
    <% } %>
    <br/><br/>

    <a href="/attachment"> Attachments Page</a><br/><br/>

    <a href="/equipment"> Return to Equipment Homepage</a>

    <footer>
        <img id="logo" src="https://i.imgur.com/bxF7QSr.png" />
        <p>Created by: Nels Wicklund & Camden Yoder</p>
        <p>John Deere App</p>
    </footer>
</body>
</html>