<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Equipment Show Page</h1>
    <img src='<%=equipment.img%>'/> <br/>
    Model: <%=equipment.modelName%> <br/>
    Horsepower: <%=equipment.horsepower%> <br/>
    Application: <%=equipment.application%> <br/>
    Description: <%=equipment.description%> <br/>
    Belongs to: 
    <% for (let i=0; i < equipment.Users.length; i++) { %>
        <li>
            <%=equipment.Users[i].name%>
        </li>
    <% } %>
    <br/>
    Compatable with: <br/>


</body>
</html>