<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.imgur.com/bxF7QSr.png">
    <title>John Deere App</title>
    <link rel ="stylesheet" href="/css/eq_att_index.css" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to The John Deere Equipment Page</h1>
    <div class='left'>
        <ul class='ag'>
            Agriculture <br/><br/>
            <% for (let i = 0; i < equipment.length; i++) { %>
                <% if (equipment[i].division === 'Agriculture') { %> 
                    <li class='agriculture'>
                        <img class='machine' src='<%=equipment[i].img%>'/>
                        <br/><br/>
                        <a class='green' href='/equipment/<%=equipment[i].id%>'><%=equipment[i].modelName%></a>
                        <br/><br/>
                    </li>
                    <br/>
                <% } %>
            <% } %>
        </ul>
    </div>
    <div class='right'>
        <ul class='con'>
            Construction <br/><br/>
            <% for (let i = 0; i < equipment.length; i++) { %>
                <% if (equipment[i].division === 'Construction') { %> 
                    <li class='construction'>
                        <img class='machine' src='<%=equipment[i].img%>'/>
                        <br/><br/>
                        <a class='black' href='/equipment/<%=equipment[i].id%>'><%=equipment[i].modelName%></a>
                        <br/><br/>
                    </li>
                    <br/>
                <% } %>
            <% } %>
        </ul>
    </div>

    <a  href="/attachment"> Attachments Page</a><br/><br/><br/>
    <a  href='/users/op_index'>See other user's operations!</a>
    <footer>
        <img id="logo" src="https://i.imgur.com/bxF7QSr.png" />
        <p>Created by: Nels Wicklund & Camden Yoder</p>
        <p>John Deere App</p>
    </footer>

</body>
</html>