<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form action='/users/profile/<%=users.id%>?_method=PUT' method='POST'>
        Name: <input type="text" name="name" value="<%=users.name%>" /><br/><br/>
        Username: <input type="text" name="username" value="<%=users.username%>"/><br/><br/>
        Password: <input type="text" name="password" value="<%=users.password%>"/><br/><br/>
        Location: <input type="text" name="location" value="<%=users.location%>"/><br/><br/>
        Description: <input type="text" name="description" value="<%=users.description%>"/><br/><br/>
        Upload Image: <input type="text" name="img" value="<%=users.img%>"/><br/><br/>
        <img src="<%=users.img%>" alt="picture of user" /> <br/><br/>

             <select name="equipment" multiple size = "12"> 
            <% for(let i = 0; i < equipment.length; i++) { %>   
            <option value='<%= equipment[i].id %>'><%= equipment[i].modelName %></option>
             <% } %></select><br/><br>

             <input type='submit' value='Update Profile'> 
    </form>
    <% for(let i = 0; i < users.Equipment.length; i++) { %>   
        <li>
            <%=users.Equipment[i].modelName%> 
            <form action='/users/profile/<%=users.Equipment[i].id%>/<%=users.id%>?_method=DELETE' method='POST'>
                <input type='submit' value='Remove Equipment from Profile' />
            </form>
        </li>
     <% } %>
     <a href='/users/profile/<%=users.id%>'>Return to Profile Page</a><br/>
</body>
</html>