<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class='op'>
        <% for (let i = 0; i < users.length; i++) { %>
                <li>
                    Name: <%=users[i].name%> <br/>
                    Location: <%=users[i].location%> <br/>
                    Occupation: <%=users[i].description%> <br/>
                    Equipment: <% for (let j=0; j < users[i].Equipment.length; j++) {%>
                        <li>
                            <a href="/equipment/<%=users[i].Equipment[j].id%>"/> <%=users[i].Equipment[j].modelName%> </a><br/>
                        </li>
                        <br/>
                    <% } %>
                </li>
                <br/>
        <% } %>
    </ul>
    <a href='/equipment'>See all Equipment</a><br/><br/>
    <a href='/attachment'>See all Attachments</a><br/><br/>
</body>
</html>