<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/css/app.css" />
</head>
<body>
    <h1>Welcome <%=users.name%></h1>
    Username: <%=users.username%><br/><br/>
    Password: <%=users.password%><br/><br/>

    <a href='<%=users.id%>/edit'>Edit Profile</a><br/><br/>

    <%=users.img%><br/>
    <%=users.location%><br/>
    <%=users.description%><br/>
    Equipment: 
    <% for (let i=0; i < users.Equipment.length; i++) {%>
        <li>
            <%=users.Equipment[i].modelName%>
        </li>
    <% } %>

    <form action='/users/profile/<%=users.id%>?_method=DELETE' method='POST'>
        <input type='submit' value='Delete Profile' />
    </form>

    <a href='/equipment'>See all Equipment</a><br/><br/>
    <a href='/users'>Sign Out</a>
</body>
</html>