<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.imgur.com/bxF7QSr.png">
    <title>John Deere App</title>
    <link rel ="stylesheet" href="/css/profile.css" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome <%=users.name%></h1>
    <img class="profile" src="<%=users.img%>" alt="edit your profile to see your picture here" />
    <div class="info">
        <br/>
        Username: <%=users.username%><br/><br/>
        Location: <%=users.location%><br/><br/>
        Occupation: <%=users.description%><br/><br/>
        <div class='own'>  
            <br/>Your Equipment: <br/><br/>
            <% for (let i=0; i < users.Equipment.length; i++) {%>
                <li>
                    <a href="/equipment/<%=users.Equipment[i].id%>" /> <%=users.Equipment[i].modelName%> </a><br/>
                </li>
                <br/><br/>
            <% } %><br/><br/>
        </div>
        <a href='/equipment'>See all Equipment</a><br/><br/><br/>
        <a href='/attachment'>See all Attachments</a><br/><br/><br/>
        <a href='/users/op_index'>See other Operations</a><br/><br/><br/>
        <a href='<%=users.id%>/edit'>Edit Profile</a>
        <a href='/users'>Sign Out</a><br/><br/>

        <form action='/users/profile/<%=users.id%>?_method=DELETE' method='POST'>
            <input class = 'delete' type='submit' value='Delete Profile' />
        </form> <br/>
    </div>
    <footer>
        <img id="logo" src="https://i.imgur.com/bxF7QSr.png" />
        <p>Created by: Nels Wicklund & Camden Yoder</p>
        <p>John Deere App</p>
    </footer>
 
</body>
</html>