<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/css/app.css" />
</head>
<body>
    <h1>Welcome <%=users.name%></h1>
    Username: <%=users.username%><br/><br/>

    <a href='<%=users.id%>/edit'>Edit Profile</a><br/>

    <img src="<%=users.img%>" /><br/>
    Location: <%=users.location%><br/><br/>
    Occupation: <%=users.description%><br/><br/>
    User Owned Equipment: 
    <% for (let i=0; i < users.Equipment.length; i++) {%>
        <li>
             <a href="/equipment/<%=users.Equipment[i].id%>" /> <%=users.Equipment[i].modelName%> </a><br/>
        </li>
        <br/>
    <% } %>
    <a href='/equipment'>See all Equipment</a><br/><br/>
    <a href='/attachment'>See all Attachments</a><br/><br/>
    <a href='/users/op_index'>See other Operations</a><br/><br/>
    <a href='/users'>Sign Out</a><br/><br/>

    <form action='/users/profile/<%=users.id%>?_method=DELETE' method='POST'>
        <input type='submit' value='Delete Profile' />
    </form>

 
</body>
</html>