<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.imgur.com/bxF7QSr.png">
    <title>John Deere App</title>
    <link rel ="stylesheet" href="/css/signup_login.css" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Sign Up</h1>
    <img class="tractor" src="https://i.imgur.com/kKJeQbP.jpg" />
    <%=msg%>
    <div class="signup">
    <form action="/users/signup" method="POST">
        Name: <input type="text" name="name" value="<%=users.name%>" /><br/><br/>
        Username: <input type="text" name="username" value="<%=users.username%>" required/><br/><br/>
        Password: <input type="text" name="password" required/><br/><br/>
        Location: <input type="text" name="location" required/><br/><br/>
        Occupation: <input type="text" name="description" required/><br/><br/>
        Upload Image URL: <input type="img" name="img" /><br/><br/>
        Select Your Equipment (hold command to select multiple):
        <select name="equipment" multiple size = "6"> 
            <% for(let i = 0; i < equipment.length; i++) { %>   
            <option value='<%= equipment[i].id %>'><%= equipment[i].modelName %></option>
             <% } %></select><br/><br/>
        <input type ="submit" name="" value="Sign Up" />
    </form>
    </div>
    <footer>
        <img id="logo" src="https://i.imgur.com/bxF7QSr.png" />
        <p>Created by: Nels Wicklund & Camden Yoder</p>
        <p>John Deere App</p>
    </footer>

</body>
</html>